.cbadge {
    color: #ffffff;
    font-size: $text-badge;
    min-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.text-badge {
    @extend .cbadge;
    background: #F6F8FF;
    font-size: $text-badge;
    color: $dark-blue;
    border-radius: 8px;
}

.new-badge {
    @extend .cbadge;
    background: $turquoise-surf;
    min-height: 24px;
    border-radius: 1000px;
}

.environment-badge {
    @extend .cbadge;
    background: $dark-blue;
    min-height: 24px;
    border-radius: 8px;
}
