.cbutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 1000px;
    font-size: $text-xsmall;
    border: none;
    
}