.notice-section {
    margin: 100px $base-margin;
    .notice-wrapper {
        display: flex;
        justify-content: space-between;
        height: 439px;
        background: url('/images/noticebg.png') no-repeat;
        border-radius: 30px;
        
        .notice-texts {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 12px;
            text-align: center;
            margin-top: 20px;
            transform: translateX(-50px);
            .icon {
                & svg {
                    fill: $red;
                    transform: rotate(-45deg);
                }
                & path {
                    fill: $red;
                }
            }
            .up-title {
                color: $grey;
                font-size: $text-medium;
                font-weight: 400;
            }
            .title {
                color: $dark-blue;
                margin-bottom: 18px;
            }
            .button-wrapper {
                display: flex;
                justify-content: center;
                margin-top: 30px;
            }
        }
        .right-image {
            margin-right: 20px;
            display: flex;
            justify-content: start;
            transform: translateY(-50px);
        }
    }
}
