.writing-section {
    margin: 0 $base-margin;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    .image-wrapper {
        height: fit-content;
        .image {
            box-shadow: 1px 4px 10px 0px rgba(191, 191, 191, 191.24);
        }
        .buttons {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 5px;
            margin-bottom: 40px;
        }
    }
    .writing-wrapper {
        flex: 2;
        padding: 20px 0;
        .title-wrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            .texts {
                display: flex;
                flex-direction: column;
                gap: 13px;
                .up-title {
                    color: $grey;
                    font-size: $text-medium;
                    font-weight: 400;
                }
                .title {
                    color: $red;
                }
            }
        }
        .badges {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;
        }
        .content {
            display: flex;
            .texts-wrapper {
                .content-title-texts {
                    display: flex;
                    gap: 10px;
                    margin-bottom: 10px;
                    .title {
                        color: #2a2c31;
                    }
                }
                .subtexts {
                    display: flex;
                    gap: 20px;
                    .item {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .label {
                            font-weight: 200;
                        }
                        .text {
                            font-weight: bold;
                        }
                    }
                }
            }
            .buttons {
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: end;
                gap: 5px;
            }
        }
    }
}
