/** Typography */
$text-xxxsmall: 13px;
$text-xxsmall: 14px;
$text-xsmall: 18px;
$text-small: 20px;
$text-medium: 22px;
$text-large: 24px;
$text-xlarge: 26px;
$text-xxlarge: 28px;
$text-xxxlarge: 32px;



/** Colors */
$dark-blue: #273D89;
$red: #DB0D15;
$grey: #676A73;
$light-grey: #ACB1C6;
$dark-grey: #2A2C31;
$green: #A8B95E;
$orange: #DE8536;
$light-bubble: #C6ECFF;
$pure-linen: #FBF6E3;
$turquoise-surf: #00C3D0;
$deep-cove: #081542;
$deep-blue: #112053;

/** margins */
$base-margin: 144px;


